/* You can add global styles to this file, and also import other style files */
@use "tailwindcss";

:root {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
  height: 100vh;
}

body {
  letter-spacing: 0.025em;
  max-height: calc(100vh - 60px);
}

@media print {

  /* Hide everything except print-section */
  body * {
    visibility: hidden;
    position: relative;
  }

  #print-section,
  #print-section * {
    visibility: visible;
  }

  #print-section {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
  }

  /* Hide columns you don't want */
  .no-print,
  .p-paginator {
    display: none !important;
  }
}